.weather-app {
  font-family: "Architects Daughter", cursive;
  background-color: #607d8b;
  margin: 15px;
  padding: 8px;
  width: 100%;
  max-width: 750px;
  border: solid #607d8b 1px;
  border-radius: 7px;
}
.button {
  display: inline-block;
  width: 225px;
  margin: 15px auto;
  padding: 10px 15px;
  border-radius: 7px;
  position: relative;
  left: 50px;
  right: 65px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  background-color: #f47757;
  border: 1px solid #f47757;
}
.button:hover {
  color: #f47757;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 250ms ease-out;
}
input {
  display: block;
  margin: 0px auto;
  width: 550px;
  padding: 10px 15px;
  font-size: 18pt;
  border-radius: 7px;
}
h1 {
  color: #cfd8dc;
  padding: 5px 10px;
  display: block;
  text-transform: capitalize;
  font-size: 42px;
}
#current-icon {
  color: #f47757;
  font-size: 42px;
  width: 250px;
  max-height: 100%;
  display: block;
  padding: 5px;
}
.currentTemperature,
.farUnit,
.celUnit {
  text-decoration: none;
  color: #cfd8dc;
}
.farUnit:hover {
  color: #f47757;
  text-decoration: none;
}
.celUnit:hover {
  color: #f47757;
  text-decoration: none;
}

h3 {
  color: #cfd8dc;
  padding: 10px 15px;
  display: block;
  text-transform: capitalize;
}
h4 {
  color: #cfd8dc;
  padding: 10px 15px;
  display: block;
}
hr {
  border: 2.5px solid #fff;
}
.weekDay {
  color: #cfd8dc;
  padding: 10px 15px;
  text-align: center;
}
.tempCondition {
  color: #cfd8dc;
  padding: 10px 15px;
  text-transform: capitalize;
}
.upcomingIcon {
  padding: 5px 10px;
}
.upcoming:hover {
  background: #455a64;
  border: 1px solid #455a64;
  cursor: pointer;
  transition: 400ms ease-out;
}
footer {
  color: #212121;
  font-size: 12pt;
  font-family: "Architects Daughter", cursive;
  text-transform: capitalize;
}

